@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using  Northwind.UI.DatabaseApp.Entities
@model List<Employee>

<table class="table">
    <thead>
        <tr>
            <th>EmployeeID</th>
            <th>LastName</th>
            <th>FirstName</th>
            <th>Title</th>
            <th>BirthDate</th>
            <th>HireDate</th>
            <th>Country</th>
            <th>ReportsTo</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.EmployeeID</td>
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td>@item.Title</td>
            <td>@item.BirthDate</td>
            <td>@item.HireDate</td>
            <td>@item.Country</td>
            <td>@item.ReportsTo</td>
            <td>
                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.EmployeeID" class="btn btn-outline-info">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>


